* {
    padding: 0;
    margin: 0;
    background-color: #000;
    color: #fff;
}
.allitem {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 10px;
}
.firstitem, .seconditem, .thirditem {
    border: 2px solid yellow;
    border-radius: 12px;
    margin-left: 12px;
    
}

h1, p, img{
    text-align: center;
    margin: 20px;
}

hr {
    background-color: rgb(244, 10, 244);
    height: 1px;
    width: 1740px;
}