* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: aqua;
}
.logo {
    color: #fff;
}
ul {
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    
}

ul li {
    color: #fff;
    text-decoration: none;
    list-style: none;
}



